h1{
    font-size: 40px;
    text-align: center;
    margin-top: 8px;
}
.text{
    font-weight: bold;
    color: rgb(219, 123, 219);
}
.counter{
    text-align: center;
    margin-top: 30px;
}
.main{
    background-color: rgb(134, 134, 251);
    width: 250px;
    height: 150px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}
h3{
    font-size: 25px;
}
#button{
    background-color: tomato;
    padding: 5px;
    color: white;
    font-weight: bold;
}